.path_underlined {
  color: #ff5e3a;
}
.note-btn.btn.btn-default.btn-sm.dropdown-toggle::after {
  display: none;
}
.note-popover{
  display:none;
}

.note-editor{
  border: 1px solid #d2d2d2;
  border-radius: 0.25rem;
}

.note-popover .popover-content .dropdown-menu, .panel-heading.note-toolbar .dropdown-menu {
  min-width: 170px!important;
}

.panel-default{
  height: auto!important;
}


/* Forum */

blockquote{
  margin:0;
}

blockquote p {
  margin: 0 0 13px !important;
  font-size: 14px;
  line-height: 1.3em;
}

.checkbox_visible {
  display: inline-block !important;
}

.padding_15 {
  padding:15px;
}

.padding_10 {
  padding:10px;
}

.header .page-title {
  padding: 17px 55px 48px 100px;
  font-weight: 400;
}
.header{
    height: 55px;
}

.page-title > h3 > a{
  color:white!important;
}

.author-page {
  margin-left: 35px!important;
}
.control-icon {
  fill: #9a9fbf!important;
  margin-top: 8px!important;
}

.chat-message .author-thumb {
  height: 40px;
  width: 40px;
  margin-right: 5px;
  text-align: center;
}

.author-thumb > img {
  width: 100%;
  height: 100%;
}

.survey-author{
  font-size:11pt;
  font-weight:400!important;
  display: inline-block;
  width: 100%;
}
.birthday-item {
  display: block;
  margin: 0 auto;
  float:none;
}

.birthday-item.badges .skills-item{
  float:none;
  margin:0 auto;
  width: 50%;
}
.birthday-item > .checkbox {
  margin:0;
}

.birthday-item:hover{
  background: #c9c9c91a;
}

.birthday-author-name{
  max-width: 92%;
}

.notification-list.chat-message {
  background-color: transparent;
  /* -webkit-box-shadow: 1px 4px 5px 1px #ccc;
  -moz-box-shadow: 1px 4px 5px 1px #ccc;
  box-shadow: 1px 4px 5px 1px #ccc; */
  margin-bottom: 0;
}

.main-header {
  padding: 70px 0 70px 0;
      padding-top: 70px;
  max-width: calc(100%);
  margin: 0 auto;
  position: relative;
  background-position: 50% 50%;
}

.headroom--not-top{
  display:none;
}

.main-header.spacer{
  margin-bottom:25px;
}

.open-topic-table .author {
  text-align: center;
  width: 20%;
}

.open-topic-table .posts {
  vertical-align: top;
  width: 80%;
}

/* home */

.ui-block.grey-bg{
  background-color:#edf2f6;
}

.survey-block{
  background-color:white !important;
}

.ui-block.feed{
  border:none!important;
}

.news-image{
  width:100%;
}

.your-profile-menu li a {
  font-size: 13px;
}

.left-menu-title.username{
  color: #575365;
}

.left-menu a {
  padding: 16px 0 6px 25px;
}

.search-bar .form-group {
  margin-bottom: 0;
  height: 100%;
}

.search-bar.w-search {
  width: 500px;
  background-color: #494c62;
  min-height: 0;
  height: 100% !important;
}

.link-find-friend {
  padding: 20px 16px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  float: left;
  min-width: 200px;
}

.logo-img{
  height: 42px;
  margin: 0 auto;
  margin-top: 0px;
  display: block;
  margin-top: 2%;
}

.img-wrap{
  width:100%;
}

.header-spacer-small {
  height: 55px;
}

.container {
  max-width: 1330px;
}

.comments-list {
  margin-bottom: 0;
  background-color: #edf2f6;
}

.registration-login-form {
  padding-left:0;
}

.comments-list .comment-item {
  padding: 15px 25px 15px 25px;
  background-color: #fff;
  position: relative;
}

.post {
  position: relative;
  padding: 25px;
  border-bottom: 5px solid #e6ecf5;
}

.main-header.main-header-fullwidth {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.is-invalid{
  border: 2px solid #eb4520;
  border-radius: 6px;
}

.popup-chat .notification-event {

  padding-left: 10px;
  width: 55% !important;

}

.fixed-sidebar.right {
  top: 70px;
  z-index: 100;
  right: 0;
  min-height: 100%;
}

.fixed-sidebar-right.sidebar--small {
  width: 75px;
  transition-delay: .3s;
  top:-15px;
}

.chat-container-inline {
  position: fixed;
  bottom: 0;
  display: inline;
  text-align: left;
  padding-right: 88px;
  right: 0;
  transition: 0.50s all ease;
  z-index: 99;
  height: 60px;
}

.cs-closed-chat{
  bottom: -2% !important;
}

.my-thumb-chat{
  float:right!important;
}

.my-notification-event-chat{
  float: right;
  padding-left: 0;
  padding-right: 10px;
  width: 60%!important;
}

.my-message-item-chat{
  float: right!important;
  background-color: #7c5ac2!important;
  color: #fff!important;
}

.friend-thumb-chat{
  float:none!important;
}

.friend-notification-event-chat{
  float:none!important;
}

.friend-message-item-chat{
  padding: 13px!important;
  background-color: #f0f4f9!important;
  margin-top: 0!important;
  border-radius: 10px!important;
  margin-bottom: 5px!important;
  font-size: 12px!important;
  color:#888da8!important;
}

.chat-sub-container{
  float: right;
  margin-left: 6px;
  height: 50vh;
  max-height: 470px;
}

.cs-chat-window{
  position: relative!important;
  right: 0!important;
  top: 0;
  height: 100%;
}

aside{
  z-index: -1;
}
.avatar-chat{
  max-width:40px!important;
  margin-right:5px;
}

.img-rocket {
  right: 0;
  left: 69%; 
  top: 90%;  
  z-index: 999;
  max-height: 100px;  
  height: 12%;
}

.row.row-feed{
  max-width: 1200px;
}

.popup-chat-responsive.open-chat {
  bottom: 394px;
  top: auto;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  right: 288px;
}

.popup-chat-responsive .mCustomScrollbar {
  overflow: hidden;
  max-height: 337px;
}

.news-feed-form .author-thumb {
  width: 11%;
}

.label-floating.with-icon .form-control, .label-floating.with-icon input, .label-floating.with-icon textarea {
  padding-left: 120px;
}

.label-floating.with-icon label.control-label, .label-placeholder.with-icon label.control-label {
  left: 120px;
}

.chat-users .author-thumb {
  margin-right: 0px;
}

.fixed-sidebar-right{
  padding-bottom: 70px;
}

.sidebar--large .search-friend {
  display:none;
}

.fixed-sidebar.right .mCustomScrollbar {
  max-height: 100vh;
}

.sidebar--large .olympus-chat {
  padding: 18px 40px 12px 40px;
  max-height: 52px;
}

.popup-chat .chat-message-field li {
  overflow: hidden;
  padding: 9px 23px;
}

.olympus-chat.inline-items{
  cursor:pointer;
}

.popup-chat .chat-message-field li:last-child {
  margin-bottom: 0;
  padding-bottom:17px!important;
}

.popup-chat-responsive {
  position: fixed;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  max-width: 300px;
  opacity: 1;
  visibility: visible;
  display: block;
  transition: all .3s ease;
  margin-bottom: 0;
  z-index: 999;
  max-height: 70vh;
  top:100%;
}

a, a:hover {
  text-decoration: none;
}

.post-image-wd{
  width: calc(100% + 50px);
  padding: 8px -0 29px 0px;
  margin: 0px -25px 0px -25px;
  max-width:none;
}
.back-to-top {
  position: fixed;
  z-index: 19;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: none;
  fill: #fff;
  stroke: inherit;
  transition: all .3s ease;
  bottom: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(63, 66, 87, 0.4);
  border-radius: 100%;
  background-color: #ff5e3a;
  text-align: center;
  left: 17%;
  bottom: 12%;
}

.iconClicked{
  background-color:#ff5e3a !important;
}
.svgClicked{
  fill: #ff5e3a;
}
.mobile-app-tabs{
  height:55px;
}

.news-feed-form .form-group.label-floating.is-focused .control-label, .news-feed-form .form-group.label-floating.has-bootstrap-select .control-label {
  top: 14px;
}

.fixed-sidebar-right.sidebar--large {
  width: 226px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.inline-items > .more{
  display:block;
}

.w-birthday-alert .author-thumb img {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  margin-bottom: 12px;
}