                #particles-js{
                      width: 100%;
                      height: 100%;
                      background-size: cover;
                      background-position: 50% 50%;
                      position: fixed;
                      top: 0px;
                      z-index:1;
                      background-image: linear-gradient(rgb(139, 97, 33),rgb(12, 99, 90));
                }